body {
    background-color: #fff;
    background-size: 100% 1.2em;
    background-image: -webkit-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                    -webkit-linear-gradient(#eee .05em, transparent .05em);
    background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                    -moz-linear-gradient(#eee .05em, transparent .05em);
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                    linear-gradient(#eee .05em, transparent .05em);
    -pie-background: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px) 0 0 / 100% 1.2em,
                    linear-gradient(#eee .05em, transparent .05em) 0 0 / 100% 1.2em #fff;
    behavior: url(/pie/PIE.htc);
}

#titleCard {
    font-family: 'Emblema One', cursive;
    font-size: 100px;
    /* background-image: url("assets/images/cinema_seats.jpg"); */
}

.jumbotron {
    background-image: url("../images/theater-seat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
   }

#interface {
    text-align: center;
    font-size: 75px;
}
